{% extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}


{%block body%}

<br>
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Hello there welcome on Board!</h1>
        <p class="lead">It's nice to have you on board  feel free to explore this simple blog built using python flask</p>
        <hr class="my-4">
        <p> Take the tour hope you enjoy</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/posts" role="button">Start Now</a>
        </p>
      </div>
      
</main>
{%endblock%}