{% extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}


{%block body%}
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome </h1>
            
            <p> Welcome to my blog you will be able to view ,update,delete and post a new blog
                .Thank you for dropping by!.Have a nice time
            </p>
            <p>
                <a class="btn btn-primary" href="/posts"role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{%endblock%}