{% extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}


{%block body%}
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Hello there welcome to Blog Board!</h1>
        <p class="lead">This is a simple flask blog application to demonstrate our understsnding</p>
        <hr class="my-4">
        <p> Take the tour hope you enjoy</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/posts" role="button">Learn more</a>
        </p>
      </div>
      
</main>
{%endblock%}